//Модальные окна админки
//add  Добавление Товаров
.add{
   &__wrap{
      @include regular;
      background: #ffffff;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      justify-content: space-around;
   }

   &__items{ 
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
   }
}

//edit Редактирование товаров
.edit {
   &__wrap{
      @include regular;
      background: #ffffff;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      justify-content: space-around;
   }

   &__items{ 
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
   }
}
//edit Редактирование категорий
.class-edit {
   &__wrap{
      @include regular;
      background: #ffffff;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      justify-content: space-around;
   }

   &__items{ 
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
   }
}
//add создание категорий
.class-add{
   &__wrap{
      @include regular;
      background: #ffffff;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      justify-content: space-around;
   }

   &__items{ 
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
   }
}


//пагинация

.pagination{
   display: flex;
   justify-content: center;
   align-items: center;

   & a {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color .3s;
   }
   & a.active {
      background-color: #F66A15;
      color: white;
   }
   & a:hover:not(.active) {
      background-color: #ddd;
   }
}

//поисковик
.search{
   &__wrapper{
      position: relative;
      display: flex;
      width: 100%;
      background: transparent;
   }
   &__wrapper-input { 
      @include regular;
      width: 100%; 
      background: transparent;
      height: 50px;
      padding: 0 10px 0px 35px;
      color: #000000;
      line-height: 18px;
      border-radius: 50px;
      border: 1px solid #a6a6a6;
      outline: none;
   }
   &__image{
      width: 14px;
   }
   &__wrapper-btn { 
      display: flex;
      position: absolute;
      align-items: center;
      justify-content: center;
      left: 0;
      top: 0;
      bottom: 0;
      border-radius: 50px;
      background: transparent;
      border: 0px;
      transition: all 0.3s;
}
   &__wrapper-btn:hover{
      transform: scale(1.1);
   }
}